<ion-content color="amarelo">

  <img src="https://github.com/Kesllys/TCC/blob/main/Logo.png?raw=true">


  <ion-card color="amarelo-claro">
    <ion-item color="amarelo-claro">
      <ion-label>E-mail:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="amarelo-claro">
      <ion-label>Senha:</ion-label>
      <ion-input></ion-input>

    </ion-item>
    <p><i>Esqueci Senha</i></p>


    <ion-row >
      <ion-col >
        <div class="botao">
          <ion-button color="preto" class="Pbotao" size="block">
            <ion-label>Entrar</ion-label>
          </ion-button>

          <ion-button color="preto" class="Ubotao" size="block">
            <ion-label>Volta</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
