.tituloCenter{
  text-align: center;
}

img{
  margin-top: 1.7rem;
  margin-right: 1.7rem;
  margin-left: 1.7rem;
  width: 80%;
  align-items: center;
}

ion-icon{
  margin-right: 10px;
}

p{
  margin: 4px;
}

