<ion-header [translucent]="true">
  <ion-toolbar color="preto">
    <ion-back-button color="branco" slot="start"></ion-back-button>
    <ion-title class="ion-text-center">
      Esqueceu a senha
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="amarelo"><ion-back-button slot="start"></ion-back-button>

  <img src="https://github.com/Kesllys/TCC/blob/main/Logo.png?raw=true">

  <div class="tituloCenter">
    <p>Informe o e-mail para o qual deseja<br>redefinir a sua senha.</p>
  </div>

  <ion-card color="amarelo-claro">
    <ion-item  color="amarelo-claro">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input  placeholder="E-mail ou Telefone"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col >
        <div class="botao">
          <ion-button routerLink="/login-cadastro" color="preto" class="Ubotao" size="block">
            <ion-label>Redefinir senha</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
