
  <ion-header [translucent]="true">
   


    <ion-toolbar color="amarelo">
      <ion-title class="ion-text-center">
        Bem-vindo emanuel
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content color="amarelo-claro" [fullscreen]="true">

  <ion-card-title class="ion-text-center">Serviços diponiveis</ion-card-title>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card color="amarelo">
          <ion-card-subtitle class="ion-text-center">Moto-Taxi</ion-card-subtitle>
          <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Ellipse%207.png" alt="">
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card color="amarelo">
          <ion-card-subtitle class="ion-text-center">Moto-Taxi</ion-card-subtitle>
          <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Ellipse%207.png" alt="">
        </ion-card>
      </ion-col>



      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card color="amarelo">
          <ion-card-subtitle class="ion-text-center">Moto-Taxi</ion-card-subtitle>
          <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Ellipse%207.png" alt="">
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <ion-card color="amarelo">
          <ion-card-subtitle class="ion-text-center">Moto-Taxi</ion-card-subtitle>
          <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Ellipse%207.png" alt="">
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
