ion-card{
width: 100%;
margin-left: -1px;
border-radius: 10px;
border-bottom: solid 2px rgb(0,0,0, 0.5);
}

ion-card-subtitle{
  font-size: 17px;
}

ion-card-title{
  margin-top: -10px;
}

.estrelas{
  display: flex;
  justify-content: center;

}
