header {
  display: flex;
  justify-content: end;

  margin-top: 15px;
}

ion-card {
  border-radius: 20px;
}


ion-input {
  margin-bottom: 5px;
}

ion-card-title {
  margin-top: -23px;
}

.nascimento {
  margin-left: 16px;
}
