<ion-back-button slot="start"></ion-back-button>
<ion-content color="amarelo">

  <header>
    <div>
      <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Sem%20fonte%201.png" alt="">
    </div>


  </header>

  <ion-card-title class="ion-text-center">Finalize o cadastro</ion-card-title>


  <ion-card class="cardBox" color="amarelo-claro">


      <ion-item lines="none" color="amarelo-claro">
        <ion-select interface="popover" placeholder="Gênero">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="feminino">Feminino</ion-select-option>
          <ion-select-option value="outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Estado:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Endereço:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Senha:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Confirma a senha:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button routerLink="registro-parte2" color="preto" expand="block">
      confirmar
    </ion-button>
    <ion-button color="preto" expand="block">
      voltar
    </ion-button>
  </ion-card>

</ion-content>
