<ion-back-button slot="start"></ion-back-button>
<ion-content color="amarelo">

  <header>
    <div>
      <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Sem%20fonte%201.png" alt="">
    </div>
  </header>

  <ion-card color="amarelo-claro">
    <ion-list>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item color="amarelo-claro">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>
