<ion-header [translucent]="true">
  <ion-toolbar color="preto">
    <ion-back-button color="branco" slot="start"></ion-back-button>
    <ion-title class="ion-text-center">
      Criar conta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="amarelo">

  <ion-card-subtitle class="ion-text-center">Só levará alguns segundos</ion-card-subtitle>


  <ion-card class="cardBox" color="amarelo-claro">

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Nome:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Email:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Telefone:</ion-label>
      <ion-input></ion-input>
    </ion-item>



    <ion-item lines="none" color="amarelo-claro">
      <ion-select interface="popover"  placeholder="Gênero">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="feminino">Feminino</ion-select-option>
        <ion-select-option value="outros">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label class="nascimento">Data de nascimento:</ion-label>
    <ion-item lines="none" color="amarelo-claro">
      <ion-input type="date"></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Senha:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Confirma a senha:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>


  <!-- PRECISO CRIAR A VALIDAÇÃO DO LOGIN-->
      <ion-button routerLink="/registro-parte2" color="preto" size="large" expand="full">Confirmar<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
</ion-content>
