ion-card {
  border-radius: 20px;
}

ion-card-subtitle{
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

ion-icon{
  margin-left: 10px;
}

ion-input{
  margin-bottom: 5px;
}

ion-card-title{
  margin-top: -23px;
}

.nascimento{
  margin-left: 16px;
}

ion-button{
  border-radius: 50%;
}
