<ion-content color="amarelo"><ion-back-button slot="start"></ion-back-button>

  <img src="https://raw.githubusercontent.com/Kesllys/TCC/main/Captura%20de%20tela_20230211_141007.png">


  <ion-card color="amarelo-claro">
    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="none" color="amarelo-claro">
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>

    </ion-item>

    <ion-item routerLink="/esqueci-senha" color="amarelo-claro" lines="none">
      <ion-label>
        <p><i>Esqueci Senha</i></p>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <div class="botao">
          <ion-button color="preto" class="Pbotao" size="block">
            <ion-label routerLink="/tab1">Entrar</ion-label>
          </ion-button>

          <ion-button routerLink="/login-cadastro" color="preto" class="Ubotao" size="block">
            <ion-label>Volta</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
