.botao+.botao
{
  margin-top: 1000px;
}

img{
  margin-top: 1.2rem;
}
.Ubotao
{
  margin-top: 10px;
}

p{
  font-style: normal;
  text-align: center;
}

ion-card {
  border-radius: 20px;
}


ion-input {
  margin-bottom: 5px;
}

ion-card-title {
  margin-top: -23px;
}
