.img {
  margin-top: 10px;
}

ion-button {
  margin-top: 20px;
}


.textoDois{
  margin-top: 15px;
}

.fundoDesenho{
  margin-top: -35px;
}

.cardTitleCL{
  font-size: 1.3rem;
}

.p2{
  margin-bottom: 13px;
}

