<ion-content color="amarelo" [fullscreen]="true">

  <img class="img" src="https://github.com/Kesllys/TCC/blob/main/Logo.png?raw=true">
  <img class="fundoDesenho" src="https://raw.githubusercontent.com/Kesllys/TCC/main/montanhas.png">


    <ion-card-title class="ion-text-center cardTitleCL">
      Seja Bem-Vindo!!! É sua primeira vez aqui?
    </ion-card-title>


  <ion-row>
    <ion-col>
      <div class="botao">
        <ion-button routerLink="/registro" color="preto" expand="block">Cadastrar</ion-button>
      </div>


        <ion-card-title  class="ion-text-center textoDois">
        Já possuo cadastro!
        </ion-card-title>


      <div class="botao">
        <ion-button routerLink="/login" color="preto" expand="block">Login</ion-button>
      </div>

    </ion-col>
  </ion-row>


</ion-content>
